<div class="remove-container container-block">
  <h2 class="container-block-title">
    Community Links
  </h2>
  <ul class="list-unstyled interests-list">
    <a target="_blank" href="https://bit.ly/2yeOby4">
      <li>Slack Channel</li>
    </a>
    <a target="_blank" href="https://www.facebook.com/groups/reactnativevietnam/">
      <li>Group React Native Vietnam</li>
    </a>
    <a target="_blank" href="https://www.facebook.com/groups/DevCHanoi/">
      <li>Facebook Developer Circle: Hanoi</li>
    </a>
  </ul>
</div><!--//About-->