{% assign sidebar = site.data.data.sidebar %}
{% assign career-profile = site.data.data.career-profile %}
{% if sidebar %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "image": "{{avatar}}",
  "name": "{{sidebar.name}}",
  "sameAs": "{{sidebar.website}}",
  "phone": "{{sidebar.phone}}",
  "email": "{{sidebar.email}}",
  "gender": "{{sidebar.gender}}",
  "jobTitle": "{{sidebar.tagline}}",
  "knowsAbout": "{{career-profile.summary}}",
  "knowsLanguage": "{{sidebar.languagesSeo}}",
  "nationality": {
    "@type": "Country",
    "name": "{{sitebar.nationality.name}}",
    "branchCode": "{{sitebar.nationality.branchCode}}"
  }
}
</script>
{% endif %}
